<!DOCTYPE html>
<html>
<head>
    <title>Flask-E2E-Chat: Alice</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Flask-E2E-Chat: Alice</h1>

<div id="base">
    {% for post in posts %}
        {% if post.user == 'you' %}
            {% include 'my_post.html' %}
        {% else %}
            {% include 'not_my.html' %}
        {% endif %}
    {% endfor %}
</div>

<form action="{{ url_for('send') }}" method="post">
    <textarea class="textarea" name="text" cols="80" rows="20">{{ text }}</textarea>
    <input type="checkbox" name="all" value="all">
    <input type="submit">
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>